<div class="row">
    <div class="col-12 text-truncate">
        {{ teste }}
    </div>
    <div class="col-12 text-truncate" *ngIf="id">
        id: {{ id }}
    </div>
    <div class="col-12 text-truncate" *ngIf="id">
        chupada da api {{ testeApi }}
    </div>

</div>

<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input required ngModel [(ngModel)]="user.name" placeholder="name" formControlName="name" name="name" id="name" type="text" class="form-control">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input required ngModel [(ngModel)]="user.surname" placeholder="surname" formControlName="surname" name="surname" id="surname" type="text" class="form-control">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input required id="pass" type="password" class="form-control" ngModel [(ngModel)]="user.pass" placeholder="pass" formControlName="pass" name="pass">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input required id="email" type="email" class="form-control" ngModel [(ngModel)]="user.email" placeholder="email" formControlName="email" name="email">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">

        <div class="custom-control custom-radio custom-control-inline">
            <input checked selected type="radio" id="genderF" ngModel value="F" [(ngModel)]="user.gender" placeholder="gender" formControlName="gender" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="genderF">Feminino</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="genderM" ngModel value="M" [(ngModel)]="user.gender" placeholder="gender" formControlName="gender" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="genderM">Masculino</label>
        </div>

    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input mask="000.000.000-00" id="cpf" type="text" class="form-control" ngModel [(ngModel)]="user.cpf" placeholder="cpf" formControlName="cpf" name="cpf">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input id="rg" type="text" class="form-control" ngModel [(ngModel)]="user.rg" placeholder="rg" formControlName="rg" name="rg">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input mask="(00) 0000-0000||(00) 0 0000-0000" id="phone" type="text" class="form-control" ngModel [(ngModel)]="user.phone" placeholder="phone" formControlName="phone" name="phone">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <div class="input-group">
            <input mask="XXX/X0/0000" class="form-control" type="date" value="2020-11-12" id="born" ngModel [(ngModel)]="user.born" placeholder="born" formControlName="born" name="born">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
        <div class="input-group">
            <select id="maritalStatus" ngModel [(ngModel)]="user.maritalStatus" placeholder="maritalStatus" formControlName="maritalStatus" name="maritalStatus" class="custom-select">
                <option value="1" selected>1-Solteiro</option>
                <option value="2" >2-Casado</option>
                <option value="3" >3-Divorciado</option>
                <option value="4" >4-Viúvo</option>
                <option value="5" >5-Separado</option>
            </select>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
        <div class="input-group">
            <input mask="00000-000" id="cep" type="text" class="form-control" ngModel [(ngModel)]="user.cep" placeholder="cep" formControlName="cep" name="cep">
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-5">
        <div class="input-group">
            <input id="adress" type="text" class="form-control" ngModel [(ngModel)]="user.adress" placeholder="adress" formControlName="adress" name="adress">
        </div>
    </div>

    <div class="col-12">
        <input type="submit" class="btn btn-large btn-info" value="Salvar" />
    </div>

</form>